/node_modules
/public/hot
/public/images
/public/testimonial_image
/public/weekly_report_images
/public/weekly_reports
/public/storage
/public/mous
/public/staff_image
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
