body {
    /* background-color: #D1C4E9; */
    overflow-x: hidden
}

.bg-white {
    background-color: #fff;
    box-shadow: 5px 5px 25px lightgray;
}

.navbar-brand {
    padding: 23.5px 20px;
    font-size: 18px;
    color: #39bd81 !important;
}

.navbar-nav {
    width: 100%
}

.nav-item {
    padding: 20px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
    position: static
}

.nav-item.active {
    color: #39bd81
}

.nav-item:hover {
    color: #39bd81
}

a {
    color: inherit !important
}

.nav-link {
    padding: 5px
}

.navbar-collapse.collapse.in {
    display: block !important
}

.fa-angle-down {
    padding-left: 10px
}

.fa-icon {
    font-size: 30px;
    color: #fff;
    background-color: #39bd81;
    margin: 2px 10px 5px 0px;
    border-radius: 10px;
    width: 50px;
    height: 50px
}

.dropdown-menu {
    margin-top: 0px;
    border: none;
    background-color: #a0dfc2;
    padding: 50px 50px 30px 50px
}

#dropdown-menu1 {
    position: absolute;
    left: 180px;
}

#dropdown-menu2 {
    position: absolute;
    left: 300px;
}

#dropdown-menu3 {
    position: absolute;
    left: 435px;
}
#dropdown-menu4 {
    position: absolute;
    left: 750px;
}

.tab {
    margin-bottom: 20px;
    width: 230px
}

.tab:hover {
    color: #39bd81 !important
}

.dropdown-item {
    padding: 0px
}

.dropdown-item:hover {
    background-color: inherit
}

.navbar-nav .nav-item {
    white-space: nowrap;
}

@media (max-width: 767px) {
    .nav-item {
        width: 100%;
        text-align: left;
        padding-left: 10px
    }

    .dropdown-menu {
        left: 0 !important;
        position: relative !important;
        padding: 20px
    }
}