.dataTables_wrapper {
    width: 100%;
}

.dataTables_filter {
    text-align: right;
}

.pagination {
    float: right;
}

/* select.form-control[multiple] {
    height: 400px;
} */

.statistics_blocks {
    height: 150px;
    width: 300px;
}

.testimonial_card img {
    width: auto;
}

.testimonial_card > .car_image_holder {
    height: 100px;
}