.dataTables_wrapper {
    width: 100%;
}

.dataTables_filter {
    text-align: right;
}

.pagination {
    float: right;
}

/* select.form-control[multiple] {
    height: 400px;
} */

.statistics_blocks {
    height: 150px;
    width: 300px;
}

.testimonial_card img {
    width: auto;
}

.testimonial_card > .car_image_holder {
    height: 100px;
}

.mou_file_cards,
.conferences_card,
.search_bars{
    border-radius: 20px;
}

.conferences_card_header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.modal-backdrop
{
    opacity:0.9 !important;
    background-color: seagreen;
    transition:0s ease;
}

.single_staff_profile_pic {
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 0 35px darkslategrey;
}

#myChart,
#myChart_doughnut {
    height: 400px;
}